*,
*::after,
*::before {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

.form-wrapper {
  margin: 1rem 0;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 4px;
}

input,
input[type='text'],
input[type='password'],
input[type='email'] {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid --color-grey;
  outline: 0;
  width: 100%;
}

button[type='submit'] {
  background-color: --color-accent;
  border-radius: 4px;
  padding: 8px;
  border: 0;
  color: #ffffff;
}
